<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">

<head>
    <title>BitBank - Cadastro de Transações</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon" />
</head>

<body>
   <div th:insert="~{cabecalho}"></div>
 
    <ul>
        <li>Conta:
            <span th:text="${conta.numero}"></span>
        </li>
        <li>Correntista:
            <span th:text="${conta.correntista.nome}"></span>
        </li>
        <li>Data abertura:
            <span th:text="${#dates.format(conta.data, 'dd/MM/yyyy')}"></span>
        </li>
    </ul>

    <div style="margin-bottom: 30px;"> </div>

    <table>
        <thead>
            <tr>
                <th>Descricao</th>
                <th>Data</th>
                <th style="text-align: right">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="transacao : ${conta.transacoes}">
                <td th:text="${transacao.descricao}" />
                <td th:text="${#dates.format(transacao.data, 'dd/MM/yyyy')}" style="text-align: center;" />
                <td th:text="${#numbers.formatCurrency(transacao.valor)}" style="text-align: right" />
            </tr>
        </tbody>
    </table>
    </div>

</body>

</html>