<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">

<head>
    <title>WealthTracker - Cadastro de Transação</title>
</head>

<body>
    <h1 class="mb-3">Cadastro de transação</h1>

    <form th:action="@{/transacoes}" method="POST" th:object="${transacao}">
        <input type="hidden" th:field="*{id}" />

        <label for="data">Data</label>
        <input type="text" th:field="*{data}" placeholder="dd/mm/aaaa" required /><br /><br />

        <label for="descricao">Descrição</label>
        <input type="text" th:field="*{descricao}" placeholder="Ex: Pagamento do curso de desenho" required /><br /><br />

        <label for="valor">Valor</label>
        <input type="number" th:field="*{valor}" step="0.01" min="0" placeholder="0.00" required /><br /><br />

        <label for="movimento">Tipo de Movimento</label>
        <select th:field="*{movimento}" required>
            <option value="">Selecione o movimento</option>
            <option value="CREDITO">Crédito</option>
            <option value="DEBITO">Débito</option>
        </select>
        <br /><br />

        <label for="conta">Conta</label>
        <input type="text" th:value="${transacao.conta.numero + ' - ' + transacao.conta.descricao}" readonly />
        <input type="hidden" th:field="*{conta.id}" />
        <br /><br />

        <hr>

        <button type="submit">Salvar</button>
        <a th:href="@{/transacoes}">Cancelar</a>
    </form>
</body>

</html>