<!doctype html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>WealthTracker - Transações</title>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon" />
</head>

<body>
    <div th:insert="~{cabecalho}"></div>

    <form th:action="@{/transacoes}" method="POST" th:object="${transacao}">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{conta.id}" />
        <input type="hidden" th:field="*{comentario.id}" /> <!-- ADICIONE ESTA LINHA -->

        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" th:field="*{descricao}" /> <br />


        <label for="data">Data</label>
        <input type="text" class="form-control" th:field="*{data}" /> <br />

        <label for="valor">Valor</label>
        <input type="text" class="form-control" th:field="*{valor}" /><br />

        <label for="movimento">Movimento</label>
        <select th:field="*{movimento}" id="movimento" required>
            <option value="">Selecione o movimento</option>
            <option value="CREDITO">Crédito</option>
            <option value="DEBITO">Débito</option>
        </select>
        <br />
        <label for="comentario">Comentário</label>
        <input type="text" class="form-control" th:field="*{comentario.texto}" /> <br />

        <button type="submit">Realizar operação</button>
    </form>

</body>

</html>